#
# {{ ansible_managed }}
#

{% for section, values in mariadb_server__clients_parameters|dictsort %}
[{{section}}]
{%   for name, value in values|dictsort %}
{{ name }}{% if value %}       = {% endif %}{{ value }}
{%   endfor %}

{% endfor %}
