{#
 # Produce a mariadb boolean
 #
 # @param value : the value to booleanize
 # @return string
 #}
{%- macro bool(value) -%}
{{ value|bool|ternary('ON', 'OFF') }}
{%- endmacro -%}

{#
 # Filter for parameters that accepts
 # boolean and string values
 #
 # @param value : the value of the parameter
 # @return string
 #}
{%- macro stringOrBool(value) -%}
{{ value if value is string else bool(value) }}
{%- endmacro -%}
