{{ ansible_managed|comment(decoration='# ') }}

{% for credential in mariadb_server__credential_cnf.groups %}
{%   if credential.group is string %}
{%     set _group = [credential.group] %}
{%   else %}
{%     set _group = credential.group %}
{%   endif %}
{%   for group in _group %}
[{{ group }}]
{%     for name,value in credential|dictsort if name not in ['group'] and value != omit %}
{%       if name == 'password' or value is not match('^[a-zA-Z0-9]+$') %}
{{ name }} = "{{ value }}"
{%       else %}
{{ name }} = {{ value }}
{%       endif %}
{%     endfor %}
{%   endfor %}
{% endfor %}
