#
# {{ ansible_managed }}
#

#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include all files from the config directory
#
!include {{ mariadb_server__server_configuration_file }}
!includedir {{ mariadb_server__include_configuration_dir }}
