# {{ ansible_managed }}

[Service]
Environment="MYSQLD_OPTS={{ mariadb_server__service_options|join(' ') }}"

{% if not mariadb_server__service_restartable|bool %}
# Remove must restart stamp file
ExecStartPre=-/usr/bin/env rm -f {{ mariadb_server__service_restart_stamp_file }}
{% endif %}

{% if mariadb_server__run_directory is defined %}
# Ensure run dir
ExecStartPre=/usr/bin/env install --directory {{ mariadb_server__run_directory }} --owner {{ mariadb_server__service_user }} --group root --mode 755
{% endif %}
